body{
    background: #ffff;
    font-family: 'Raleway', sans-serif;
    margin: 0px;
}

.container{
    width: 800px;
    margin: auto;
}

.profile{
    text-align: center;
    margin-bottom: 40px;
}

.foto-principal {
    width: 200px;
    border: 2px solid #ffffff;
    border-radius: 25px;
    margin: 10px 10px 0px;
    padding: 3px;
    box-shadow: 9px 6px 20px #000000bf;        
}

h1{
    font-family: 'Viaoda Libre', cursive;   
    color: rgb(0, 0, 0);
    margin-bottom: 0;
    margin-top: 10;
    letter-spacing: -1px;
    font-size: 35px;
}

h2{
    margin-top: 0;
    font-style: italic;
    font-weight: 100;
    font-size: large;
    letter-spacing: -1px;
}

h4{
    margin-bottom: 5px;
}

h5{
    margin-top: 0px;
    margin-bottom: 5px;
    font-weight: 100;
    font-style: italic;
}

.p{
    line-height: 25px;
    margin-top: 0px;
}

.social-links{
    text-decoration: none;
}

.social-icons{
    width: 40px;
    margin-top: 0;
}

.facebook{
    margin: 0 15px 0 15px;
}

.jobs-list{
    list-style:none;
    padding-left: 20px;
}

.footer{
    margin-top: 40px;
    background-color: rgb(43, 40, 40);
    color: white;
    text-align: center;
    padding: 10px 0px;
}