body{
    background: #cecece;
}

p{
    color: #222222;
}

.foto-principal {
    width: 200px;
    border: 2px solid #ffffff;
    border-radius: 10%;
    /*margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 35px;*/
    margin: 30px 30px 30px 30px;
    
         
}