
body{
    background-image: url(background.jpg);
    background-repeat: no-repeat;
    /*background-position: 100% 15%;*/
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;

}


