body{
    background: #c7d3c1;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: #222222;
}


.foto-principal {
    width: 200px;
    border: 2px solid #ffffff;
    border-radius: 35px 80px;
    margin: 10px;
    padding: 3px;
    box-shadow: 0px 6px 10px #000000bf;
}

h1{
    margin-bottom: 0;
    letter-spacing: -2px;
}

h2{
    margin-top: 0;
    font-style: italic;
    color: #3a3737;
    font-weight: 200;
    letter-spacing: -2px;

}
    
   
         
