body{
    background: #c7d3c1;
}

p{
    color: #222222;
}

.foto-principal {
    width: 200px;
    border: 2px solid #ffffff;
    border-radius: 25px;
    margin: 10px;
    padding: 3px;
    box-shadow: 9px 6px 20px #000000bf;
    
   
         
}